.Home {
  height: 90vh;
  background-color: cadetblue;
  text-align: center;
}

.home-text {
  width: 50%;
  margin-top: 10%;
  margin-left: 50%;

  border: 3px solid green;
  height: 50vh;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
